---
import Github from '../assets/svg/Github.svg'
import Insta from "../assets/svg/insta.svg";
import Linked from "../assets/svg/linked.svg";
---

<footer class="flex flex-col items-center gap-2  bg-red-900">
    <div class="flex flex-col items-center" >
        <h1>
            ©2025 Santiago Ordoñez
        </h1>
        <h1>
            Todos los derechos reservados
        </h1>
    </div>
    <div class="flex gap-2 pb-3">
        <a href="">
            <Github/>
        </a>
        <a href="">
            <Insta/>
        </a>
        <a href="">
            <Linked/>
        </a>
    </div>
</footer>